# tuple : read only

In [2]:
a,b =(10,20)
print(a)
print(b)

10
20

In [6]:
a, b = 100, 200
print('a:{0},b:{1}'.format(a,b))
b,a = a,b
print('a:{0},b:{1}'.format(a,b))

a:100,b:200
a:200,b:100

In [7]:
test = (10,20,30,40)
print(type(test))

<class 'tuple'>

In [9]:
test[0] = 10 #'tuple' object does not support item assignment
#튜플은 값을 변경하지 못함

TypeError: 'tuple' object does not support item assignment

In [16]:
x=[10,20,30,40]
y = x #얕은복사 
x[0] = 100
print(x)
print(y)

[100, 20, 30, 40]
[100, 20, 30, 40]

In [17]:
x=[10,20,30,40]
y=x[:] #새로운 메모리 할당 #깊은 복사
x[0]=100
print(x)
print(y)

[100, 20, 30, 40]
[10, 20, 30, 40]

# 딕셔너리

In [53]:
student={'name':'hong','age':10, 'addr':'seoul'}

type(student)

dict

In [54]:
print(student['name'])

hong

In [55]:
student['age']=20
print(student)

{'name': 'hong', 'age': 20, 'addr': 'seoul'}

In [56]:
student['점수']=100 #추가
print(student)

{'name': 'hong', 'age': 20, 'addr': 'seoul', '점수': 100}

In [57]:
del student['age'] #삭제

In [58]:
print(student)

{'name': 'hong', 'addr': 'seoul', '점수': 100}

In [59]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [60]:
help(dict.clear)

Help on method_descriptor:

clear(...)
    D.clear() -> None.  Remove all items from D.

In [52]:
student.clear()
print(student)

{}

In [62]:
student

{'name': 'hong', 'addr': 'seoul', '점수': 100}

In [63]:
help(dict.copy)

Help on method_descriptor:

copy(...)
    D.copy() -> a shallow copy of D

In [65]:
newcopy = student.copy()
print(newcopy)
print(student)

{'name': 'hong', 'addr': 'seoul', '점수': 100}
{'name': 'hong', 'addr': 'seoul', '점수': 100}

In [68]:
newcopy == student

True

In [70]:
newcopy is student #깊은복사

False

In [71]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [72]:
student.get('name')

'hong'

In [75]:
student.get('test') #오류가 안뜸

In [76]:
student['test'] #오류가 뜸 차이

KeyError: 'test'

In [81]:
#알파벳 갯수 찾기
word="hello world"
d=dict()


for data in word:
    #print(data,end=' ')
    if data not in d:
        d[data]=1
    else:
        d[data] +=1
print(d)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [124]:
items = [{"a1":40,"a2":30},{"a1":50,"a3":3, "a4":10},{"a1":3,"a3":5}] #리스트
itemdict = {} #딕셔너리 형태로 값을 받을 변수 지정

for item in items: # items(리스트) 안의 데이터 값을 출력 -> 딕셔너리형태
    print(item)
    print(type(item))
    for index in item: # 딕셔너리(item) 안의 key 값을 가져오는 for문작성
        print(index)
        print(type(index))
        if index not in itemdict: #key 값이 중복된 것이 아니면
            itemdict[index] = item[index] # key 의 Value값을 그냥 넣어줌
        else: #key 값이 중복되면
            itemdict[index] +=item[index] # key의 value값을 합해줌
print(itemdict) #itemdict 출력

{'a1': 40, 'a2': 30}
<class 'dict'>
a1
<class 'str'>
a2
<class 'str'>
{'a1': 50, 'a3': 3, 'a4': 10}
<class 'dict'>
a1
<class 'str'>
a3
<class 'str'>
a4
<class 'str'>
{'a1': 3, 'a3': 5}
<class 'dict'>
a1
<class 'str'>
a3
<class 'str'>
{'a1': 93, 'a2': 30, 'a3': 8, 'a4': 10}

In [97]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

In [115]:
print(itemdict)

{'a1': 93, 'a2': 30, 'a3': 8, 'a4': 10}

In [116]:
itemdict.items()

dict_items([('a1', 93), ('a2', 30), ('a3', 8), ('a4', 10)])

In [117]:
a=itemdict.keys()
print(a)

dict_keys(['a1', 'a2', 'a3', 'a4'])

In [118]:
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

In [119]:
data = {'a1':100, 'a2':120, 'a3':100}

data.pop('a1')

100

In [120]:
data

{'a2': 120, 'a3': 100}

In [121]:
data.pop('t1','hello')

'hello'

In [126]:
item = {'a':1, 'a2':2, 'a3':3, 'a4':4}
item.popitem()

('a4', 4)

In [127]:
print(item)

{'a': 1, 'a2': 2, 'a3': 3}

In [129]:
data={'a':1,'a2':2,'a3':3}
data.values()

dict_values([1, 2, 3])

# range(start, end , step): start:시작 ,end:끝값(포함x), step:증감값
start가 생략되면 기본값 0
step 생략되면 기본값 1

In [147]:
for index in range(1,5, 1):
    print(index)

1
2
3
4

In [149]:
for index in range(1, 5):
    print(index, end='')

1234

In [150]:
for index in range(5):
    print(index, end='')

01234

In [155]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [158]:
a=['hong','kim','lee','park']
b=enumerate(a)
print(type(b))
print(a)

<class 'enumerate'>
['hong', 'kim', 'lee', 'park']

In [160]:
for i, j in b:
    print(i, j)

0 hong
1 kim
2 lee
3 park

In [170]:
name =['hong','lee','park','kang', 'han'] #매칭안되는 han 값은 나오지 않음
age=[100,90,70,80]
data = zip(name, age)
print(data)
#for i in data:
 #   print(i)
print("-=----=================")
for key, value in data:
    print(key, value)

<zip object at 0x0000025BEA219500>
-=----=================
hong 100
lee 90
park 70
kang 80

In [174]:
#언팩킹
a, b,c=[10,20,40]
print(a)
print(b)
print(c)

10
20
40

In [176]:
#팩킹
a=(10,20,30)
t1, t2 ,t3 = a
print(a)

(10, 20, 30)

In [177]:
print(t1)
print(t2)
print(t3)

10
20
30

In [189]:
def fn():
    return 1, 2

In [191]:
a1, a2 = fn()
print(a1, a2)

1 2

# 과제
Q1. 단어의 빈도수를 계산하시오 
a="딸기 포도 복숭아 딸기 사과 배 포도 딸기 바나나";
처리결과
{'딸기': 3, '포도': 2, '복숭아': 1, '사과': 1, '배': 1, '바나나': 1}

Q2. fruit_price={"사과":3000, "딸기":1000, "바나나":2500,"복숭아":40000}
자료에서 high_price와 low_price란 이름의 list를 만들고
가격이 3000이상인 과일은 high_price에 그외 과일은 low_price에 넣어서
출력하시오.

In [2]:
#Q2
fruit_price={"사과":3000, "딸기":1000, "바나나":2500,"복숭아":40000}
high_price = []
low_price = []

for i in fruit_price: #딕셔너리에 있는 자료를 뽑음    
    if fruit_price[i] >= 3000:   #그 자료의 value 값이 3000이상이면 
        high_price.append(i)    #high_price 리스트에 append 시킴
    else:
        low_price.append(i) #아니면 low_price 리스트에 append 
print(fruit_price)
print("===============================================================")
print("가격이 3000 이상인 목록(high_price)--------->{0}".format(",".join(high_price))) #출력
print("그 외의 과일 목록(low_price)------------>{0}".format(",".join(low_price)))

{'사과': 3000, '딸기': 1000, '바나나': 2500, '복숭아': 40000}
===============================================================
가격이 3000 이상인 목록(high_price)--------->사과,복숭아
그 외의 과일 목록(low_price)------------>딸기,바나나

In [24]:
#Q1
a="딸기 포도 복숭아 딸기 사과 배 포도 딸기 바나나"

b= a.split() #split으로 공백으로 쪼개서 a를 리스트형태로 만듬 이것을 변수 b로 지정
print(b)
print(type(b))

d=dict() # d라는 리스트 형태를 하나 만들어둠
for i in b: 
    if i not in d:
        d[i] = 1 
    else:
        d[i] += 1
print(d)

['딸기', '포도', '복숭아', '딸기', '사과', '배', '포도', '딸기', '바나나']
<class 'list'>
{'딸기': 3, '포도': 2, '복숭아': 1, '사과': 1, '배': 1, '바나나': 1}

In [13]:
#과제
'''
data = [{'name':hong, age =10}],{'name':'park', age:24},{'name':'kim'}, .. . 5개
=> 10대 : 홍길동, 홍길순
   20대 : 김하나

'''
data = [{'name':'홍길동', 'age':10}, {'name':'박지성','age':22}, {'name':'김밥', 'age':26},\
       {'name':'이영표', 'age':47}, {'name':'구혜선', 'age':33}]


namelst=[]
agelst=[]
dic = []
te = [] #10대
tw = [] #20대
th = [] #30대
fo = [] #40대
for i in data: #리스트 데이터에서 딕셔너리 추출 
    #print(i)
    #print(type(i))    
    for k in i: #각 딕셔너리 에서 key 값 추출
        if k == 'name': # key = 'name'
            namelst.append(i[k]) # 각 name의 value 값들을 list로 만들어줌 
        elif k == 'age': # KEY = 'age'
            agelst.append(i[k]) # 각 name의 age 값들을 list로 만들어줌 
#print(namelst)
#print(agelst)
dic1 = dict(zip(namelst, agelst)) #zip을 이용해 namelst와 agelst값들을 매칭시켜 딕셔너리 만들기 
#print(dic1)
for index in dic1: #dic1의 key 값들을 가져오기
    if 10<=dic1[index]<20:
        te.append(index)  # 10대 리스트 
    elif 20<=dic1[index]<30:
        tw.append(index)  # 20대 리스트
    elif 30<=dic1[index]<40:
        th.append(index)  # 30대 리스트
    elif 40<=dic1[index]<50: 
        fo.append(index)  # 40대 리스트
            
print("10대: "+ ", ".join(te))
print("20대: " + ", ".join(tw))                
print("30대: "+", ".join(th))
print("40대: " + ", ".join(fo))

10대: 홍길동
20대: 박지성, 김밥
30대: 구혜선
40대: 이영표

In [5]:
data = [{'name':'홍길동', 'age':10}, {'name':'박지성','age':22}, {'name':'김밥', 'age':26},\
       {'name':'이영표', 'age':47}, {'name':'구혜선', 'age':33}]

info = {}

for index in range(0,50,10): #10 20 30 40 ... 
    if index == 40:
        info['other']= []
    info[str(index) + '대'] = []
print(info)

for d in data:
    #print(d)
    for i in data:
        if i['age'] // 10 == 0:
            info['0대'].append(i['name'])
        elif i['age'] // 10 == 1:
            info['10대'].append(i['name'])
        elif i['age'] // 10 == 2:
            info['20대'].append(i['name'])
        elif i['age'] // 10 == 3:
            info['30대'].append(i['name'])

        else :
            info['other'].append(i['name'])
print(info)

{'0대': [], '10대': [], '20대': [], '30대': [], 'other': [], '40대': []}
{'0대': [], '10대': ['홍길동', '홍길동', '홍길동', '홍길동', '홍길동'], '20대': ['박지성', '김밥', '박지성', '김밥', '박지성', '김밥', '박지성', '김밥', '박지성', '김밥'], '30대': ['구혜선', '구혜선', '구혜선', '구혜선', '구혜선'], 'other': ['이영표', '이영표', '이영표', '이영표', '이영표'], '40대': []}

In [4]:
for i in data:
    if i['age'] // 10 >=6:
        info['other'].append(i['name'])
    info[str((i['age']//10)*10)+'대'].append(i['name'])
                info['other'].append(i['name'])
print(info)

IndentationError: unexpected indent (<ipython-input-4-fcaec8205459>, line 5)

In [68]:
D = [{'name':'hong', 'age':10}, {'name':'kim', 'age':20}, {'name':'park','age':30}]
E = {'name':['a1','a2','a3'],'age':[10,20,30]}

ab = []

for i in D:
    print('{0},{1}'.format(i['name'],i['age']))        
    print("")

for index in E:
    print("{0}: {1}".format(index, str(E[index])).strip('[]'))

hong,10

kim,20

park,30

name: ['a1', 'a2', 'a3'
age: [10, 20, 30