# 큰제목
## 중제목
### 소제목
#### 목록
안녕하세요 만나서 반갑습니다
여기는 python 수업입니다.  
첫날입니다.

<img src="‪./img/cat.jpg" width = "300px" height = "300px" align = "left">

a = 10
b = 20
print(a+b)

#문자열 연결
""
여러줄 문자 주석
"""
a = 'hong gil dong'
b = 'kim hana'
a+b

In [ ]:
"""
여러줄 주석
여러줄 주석
여러줄 주석
"""
test
a = 10
b = 20

#### 안녕하세요 문자열 연습입니다.

In [ ]:
a = 10
b = 10.2
c = 'aba'
d = complex(2,6)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

In [ ]:
a = [10,20,30,40]
print(type())

t2 = ['name' ,'hong', 'age',0 , 'addr','seoul']
print(type(t2))

In [ ]:
tf =True
tf2 = False
print(type(tf))
print(type(tf2))

In [ ]:
a=0.2
b=0.1
a+b

In [ ]:
name = 'hong gil dong'
age = 20
print("이름은: " + name + "나이: " + str(age))
#age 라는 것은 숫자 정보라서 str로 문자데이터로 바꿔줌

In [ ]:
irum = 'hong gil dong'
age = 20
print(f"이름은 {irum}, 나이는 {age}")

In [ ]:
print(f"{name}'s age {age}")
print(f' may name is {name}')

In [ ]:
irum = "\'박하나\'"
print(irum)

In [ ]:
title ="한은, 기준금리 0.5%로 동결…\'경기 방어\'에 초점(종합)"

print(title)

In [ ]:
name = '김지연'
age = 10
print('이름은 %s, 나이는 %d'%(name, age))

In [ ]:
addr = '서울'
print('이름은 {0} 나이는 {1}, 사는곳 {2}'.format(name, age, addr))

In [ ]:
 p=20;
print('%d %%' %(p));

In [ ]:
#range(초기, 끝, 증가)
for index in range(1, 10, 1): #1부터 10직전까지 1 만큼 차이나게 
    print(index)

In [ ]:
for i in range(1,5, 2): #1부터 5직전 까지 2 만큼 차이 나게 
    print(i)

In [ ]:
for i in range(1,20,3): #1부터 20직전까지 3만큼 차이나게
    print(i)

In [ ]:
for i in range(10, 1 , -1): #
    print(i)

In [ ]:
for index in range(1,11):
    print("<{0:4d}> {1:10d} {2:4d}".format(index, index*2, index*index));#출력값을 띄어주기위해서

In [ ]:
print('{1} {0} and {other}'.format('aaa','bbb', other='hello....'));

In [ ]:
for i in range(1,10):
    print(i, end=", ")

In [ ]:
for i in range(1,10):
    for k in range(i, 10):
        print("s",end="")
    print("")

In [ ]:
a = 10
b = 3
print( a+b )

In [ ]:
a-b

In [ ]:
a*b

In [ ]:
a/b

In [ ]:
a%b

In [ ]:
a//b

In [ ]:
2**3

In [ ]:
3**4

In [ ]:
divmod(5,3) # divmod(5,3 ) -> 나눈(몫, 나머지)

In [ ]:
abs(-10) # abs = 절대값

In [ ]:
pow(3,2) # pow(3,2) -> 3의 2승 = 3**4

제곱 승을 하는 기능) **와 pow는 동일한 기능이다.

In [ ]:
name = 'hong gil dong'
age = 20
print(name + ", " + str(age))

In [ ]:
a=20
b=float(a)
print(b)

In [ ]:
a= 20.3
b= int(a)
print(a)
print(b)

In [ ]:
a = 'hong'
a+= 'kim'
print(a)

In [ ]:
a=20
a+=3 # a= a+3
print(a)

In [ ]:
a-=30 # a= a-30
print(a)

In [ ]:
a=30
a//=3 # a= a//3 
a

In [ ]:
a=20
a%=3 #a= a%3 
a

In [ ]:
True and False

In [ ]:
10>20 and 10 == 20

In [ ]:
10 >5 and 10 > 2

In [ ]:
10 == 10 or 10 >=20

In [ ]:
not(True)

In [ ]:
a=[10,20,30,40]
type(a)

In [ ]:
a=[10,20,30,40]
b=[10,20,30,40]
print(a ==b) 
print(a is b)

In [ ]:
a=[10,20,30,40]
b=a #얕은 복사
print(a==b)
print(a is b)

In [ ]:
a=[10,20,30,40]
b=a.copy()  #요소들을 카피해서 새로운 메모리에 옮긺 -> 객체는 다름 #깊은 복사
print(a==b)
print(a is b)

In [ ]:
lst1=[10,20,30,40]
lst2=[10,30,40,50]
print(lst1[0] == lst2[0])
print(lst1 == lst2)
print(lst1 != lst2)
print(lst1 is lst2)
print(lst1 is not lst2)

## == : 각 요소들끼리 비교  /  is : 객체와 객체 비교

In [ ]:
a = 'hong gil dong'
type(a)

In [ ]:
a = ['hong', 'kim','lee','park']
'hong' in a

In [ ]:
'test' in a

In [ ]:
a=[10,20,30,40]
10 in a

In [ ]:
100 in a

In [ ]:
help(str) #더 자세히 확인할때

In [ ]:
dir(str) #목록

In [4]:
# jupyter notebook tab: 
a= 'hong gil dong'
b=a.capitalize()
print(b)
# shift tab

Hong gil dong

# ======조건문 ( if ) ======

In [8]:
name = input('이름을 입력하시오: ')
age = input('나이를 입력하시오 : ')
print(name, end = " ")
print(age)

이름을 입력하시오:
나이를 입력하시오 : ㅇ
 ㅇ

In [16]:
kor = int(input('input kor: '))
eng = int(input('input eng: '))
tot = kor + eng #문자에 대한 연결로 인식 -> input 값을 int로 형변환
print('kor:{0}, eng: {1}, tot:{2}'.format(kor,eng,tot))

input kor: 70
input eng: 80
kor:70, eng: 80, tot:150

In [22]:
jumsu = int(input('input jumsu: '))

if jumsu >=60:
    print("점수: {0}점, 합격".format(jumsu))
    print('축하합니다.')

input jumsu: 60
점수: 60점, 합격
축하합니다.

In [25]:
jumsu = int(input('input jumsu: '))
if jumsu >= 60:
    print("점수: {0}점, 합격".format(jumsu))
else:
    print("점수: {0}점, 불합격".format(jumsu))

input jumsu: 40
점수: 40점, 불합격

In [30]:
jumsu = int(input('input jumsu: '))
if jumsu >=90:
    print("수")
elif jumsu >=80:
    print("우")
elif jumsu >=70:
    print("미")
elif jumsu >= 60:
    print("양")
else:
    print("가")

input jumsu: 33
가

In [8]:
Kscore = int(input('국어 점수를 입력하시오 : '))
Escore = int(input('영어 점수를 입력하시오: '))
print("============================================")
if Kscore >=90 and Escore >=90:
    print("국어:{0}점, 영어:{1}점 ======> very Good".format(Kscore, Escore))
elif Kscore >=90 or Escore >=90:
    print("국어:{0}점, 영어:{1}점 ======> Good".format(Kscore, Escore))
else:
    print("국어:{0}점, 영어:{1}점 ======> Bad".format(Kscore, Escore))

국어 점수를 입력하시오 : 90
영어 점수를 입력하시오: 80
============================================
국어:90점, 영어:80점 ======> Good

# while문 True 일동안 반복

In [14]:
#1부터 10까지 출력하는 구문
i = 1
while(i<=10):
    print(i,end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [17]:
#1 3 5 7 9를 출력하시오

i = 1
while(i<10):
    if(i%2 ==1):
        print(i)
    i+=1

1
3
5
7
9

In [10]:
#1부터 누적합이 45일때까지 출력하시오()
i=1
score = 0
while(score < 45):
    score +=i
    print(i, "현재 총합값 :{0}".format(score))
    i+=1

1 현재 총합값 :1
2 현재 총합값 :3
3 현재 총합값 :6
4 현재 총합값 :10
5 현재 총합값 :15
6 현재 총합값 :21
7 현재 총합값 :28
8 현재 총합값 :36
9 현재 총합값 :45

In [14]:
title = '안녕하세요. 만나서 반갑습니다.'
for index in title:
    print(index, end=" ")
print('\n'+ title[2])

안 녕 하 세 요 .   만 나 서   반 갑 습 니 다 .
하

In [17]:
for i in [10,20,30,40,50]:
    print(i, end=" ")

10 20 30 40 50

In [19]:
for a in range(1, 5):
    print(a, end= ",")

1,2,3,4,

In [1]:
for data in range(4):
    print(data)

0
1
2
3

In [2]:
for index in range(5, 1, -1):
    print(index, end = "     ")

5     4     3     2

In [3]:
for data in range(5,1):
    print(data, end= ", ")

In [18]:
#피라미드 만들기
for i in range(0,10):
    for k in range(1,10-i):
        print(" ", end= "")
    for j in range(0, 2*i+1):
        print("*", end= "")
    print("")

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************