# 함수

    def 함수명():  
    명령문1  
    명령문2  
    ...

In [3]:
def sayHello():
    print("hello")
    print('안녕하세요')
    
sayHello()

hello
안녕하세요

In [5]:
sayHello() #함수 호출

hello
안녕하세요

In [12]:
#매개변수가 있는 함수

def callName(name):
    print("매개변수는 {0}".format(name))

callName('홍길동')
callName('Kim')

매개변수는 홍길동
매개변수는 Kim

In [16]:
def getinfo(name, age, addr):
    print('name: {0}, age: {1}, addr: {2}'.format(name, age, addr))
    print(type(name))
    print(type(age))
    print(type(addr))
    
getinfo('hong', 20, 'seoul')

name: hong, age: 20, addr: seoul
<class 'str'>
<class 'int'>
<class 'str'>

In [18]:
def prt(*data):  #리스트 : 값을 바꿀 수 있음 / 튜플 : 읽기만
    print(data)
    print(type(data))

In [19]:
prt('a')

('a',)
<class 'tuple'>

In [20]:
prt('a', 'b')

('a', 'b')
<class 'tuple'>

In [21]:
prt('a', 'b', 'c')

('a', 'b', 'c')
<class 'tuple'>

In [25]:
def prt2(*data):  #리스트 : 값을 바꿀 수 있음 / 튜플 : 읽기만 
    for i in data:
        print(i, end=' ')

In [26]:
prt2('hong', 'kim', 'lee')

hong kim lee

In [27]:
def test(name): # *를 쓰는이유 -> 가변으로 자료를 받음
    print(name)
    
test('hong', 'kim')

TypeError: test() takes 1 positional argument but 2 were given

In [30]:
#리스트와 튜플 의 차이점
data1 = [10,20,30,40]
data2 = (100,200,300,400)

for i, j in zip(data1, data2): # zip -> ?
    print(i,j)

10 100
20 200
30 300
40 400

In [31]:
data1[1] = 50  #리스트

In [32]:
for index in data1:  
    print(index)

10
50
30
40

In [34]:
data2[1] = 123 #튜플 #TypeError: 'tuple' object does not support item assignment
#값이 바뀔 수 없음 - 튜플은 read-only

TypeError: 'tuple' object does not support item assignment

In [45]:
#return 형

def add(su1, su2):
    tot = su1 + su2  #함수 안에서 작성한 변수를 지역변수라 한다.
    print("함수 내 tot:{0}".format(tot))
    return tot

In [48]:
result=add(10,20) #add 함수 호출 
print(result)

함수 내 tot:30
30

In [49]:
print(tot) #오류발생)name 'tot' is not defined  #tot는 add 함수의 지역변수

NameError: name 'tot' is not defined

In [53]:
#지역변수 전역변수
a = 'global variable'

def fn1():
    b='local variable'
    print("a변수:{0}, b변수:{1}".format(a,b))

In [58]:
fn1() #함수 호출

a변수:global variable, b변수:local variable

In [59]:
print(a) #함수밖에서 전역변수 호출

global variable

In [60]:
print(b) #함수밖에서 함수내 지역변수 호출시 오류 발생
         #name 'b' is not defined

NameError: name 'b' is not defined

## 함수에서 변수를 찾을 때  
###  local scope -> global scope -> built-in scope

In [62]:
def swap(a, b):
    return b, a #파이썬에서는 리턴값을 여러개 가능 하다

In [63]:
result = swap(10, 20)
print(result)

(20, 10)

In [65]:
t1, t2 = swap(10,20) 
print(t1)
print(t2)

20
10

In [66]:
def sub(): #내용이 없는 함수 
    pass

In [89]:
def add_name(*names):
    items = []
    for i in names:
        items.append(i+"aaa")
    return items

In [90]:
t1=add_name('a1','a2','a3','a4')
print(t1)
print(type(t1))

['a1aaa', 'a2aaa', 'a3aaa', 'a4aaa']
<class 'list'>

In [91]:
t1,t2,t3,t4 = add_name('a1','a2','a3','a4')
print(t1)
print(t2)
print(t3)
print(t4)

a1aaa
a2aaa
a3aaa
a4aaa

In [ ]:
def add_name(*arr):
    irum=[]
    for item in arr:
        if item not in irum:
            irum.append(item)
    return irum

In [110]:
t1 = add_name('hong', 'kim', 'lee','park','kim')

In [100]:
print(t1)

['hongaaa', 'kimaaa', 'leeaaa', 'parkaaa', 'kimaaa']

In [101]:
t2=add_name('hong', 'kim', 'lee','hong')
print(t2)

['hongaaa', 'kimaaa', 'leeaaa', 'hongaaa']

In [102]:
#과제) 목록에 어떤 알파벳이 있는지 소스 짜오기
t1 = add_name('hong', 'kim', 'lee','park','kim')

## 문자열

In [106]:
s1 = 'hong gil dong'
s2 = s1[1]

print(type(s1))
print(type(s2))
print(s1[0])
print(s1[1])
print(s1[2])
print("=======")
print(s2)

<class 'str'>
<class 'str'>
h
o
n
=======
o

In [108]:
a="aaa"
b="bbb"
result = a+b
print(result)

aaabbb

In [111]:
name = "hong"
result =name *2 # name에 있는 값을 2번 반복해라
print(result)

honghong

In [112]:
a= 'hello python'
len(a)

12

In [113]:
print("{0}....{1}".format(a[:2],a[6:]))

he....python