In [4]:
g = (lambda x:x+2)

g(20)

22

In [5]:
doublesu = lambda x:x**2
doublesu(3)

9

In [6]:
maxsu= (lambda x,y:x if x>y else y)
maxsu(10,20)

20

In [7]:
maxsu(40,20)

40

In [13]:
#Q1) userabs(-10) = > 10 
#    userabs(10) => 10
#    lambda 표현식으로
userabs= lambda x:abs(x)
print(userabs(-10))
print(userabs(10))

10
10

In [22]:
#Q2) area 만들어서 원의 넓이 , area(반지름) -> 반지름 * 반지름 * PI
pi = 3.14
area = lambda x:x**2*pi
print(area(4))

50.24

In [28]:
# data[100,20,40,50,50,20,70]

# lambda for index in data 1 if index >= 60 else 0

In [76]:
def fn(x):
    return x+10

lst ={'name':['hong','kim','lee','park'], 'age':[10,22,13,20]}

result = map(fn, lst['age'])

for index in result:
    print(index)

20
32
23
30

In [77]:
result2 = map(lambda x:x+10, lst['age'])
for index in result2:
    print(index, end=", ")

20, 32, 23, 30,

In [69]:
jumsu = [50,40,100,20,70,90,30]
result3 = map(lambda x:'pass' if x>=60 else 'fail', jumsu)
#for index in result3:
    #print(index, end=' ')
for item in zip(jumsu,result3):
    print(item, end = '')

(50, 'fail')(40, 'fail')(100, 'pass')(20, 'fail')(70, 'pass')(90, 'pass')(30, 'fail')

In [73]:
# filter
jumsu = [50,40,100,20,70,90,30]
result2= filter(lambda x: x>=60, jumsu)

In [74]:
for index in result2:
    print(index)

100
70
90

In [3]:
#iterator
lst = [10,20,30,40]
print(type(lst))

<class 'list'>

In [4]:
type(iter(lst))

list_iterator

In [5]:
data = iter(lst)
type(data)

list_iterator

In [6]:
while True:
    try:
        print(next(data))
    except:
        break

10
20
30
40

In [19]:
data = 'a'
print(chr(ord(data)-32))

data =65
print(chr(data))

A
A

In [20]:
#gernerator #y다른 함수와의 차이 : yield -> for문가능
def upperReverse(data):
    for index in range(len(data)-1, -1, -1):
        if ord(data[index])>=97 and ord(data[index])<=122: #ord :숫자로바꿈
            yield chr(ord(data[index])-32) #문자형으로 
        else:
            yield data[index]

In [21]:
for index in upperReverse('ABCD'):
    print(index, end='')

DCBA

In [22]:
g=upperReverse("abc")
while True:
    try:
        print(next(g))
    except:
        break

C
B
A

In [29]:
#print
print('hello', 'hong', 'kim', 'park', sep='★', end = ' ')

hello★hong★kim★park

In [32]:
 #format
print("{1}, {0}, {2}".format("aa","bb","cc"))
print("{name} {age}".format(name="hong",age=20))

bb, aa, cc
hong 20

In [34]:
product={"code":"p1","price":2000,"name":"볼펜"}
print("code:{0[code]}, price:{0[price]}, name:{0[name]}".format(product))

code:p1, price:2000, name:볼펜

In [36]:
product={"code":"p1","price":2000,"name":"볼펜"}
print("code:{product[code]}, price:{product[price]},\
name:{product[name]}".format(product=product))

code:p1, price:2000,name:볼펜

In [37]:
product={"code":"p1","price":2000,"name":"볼펜"}
print("code:{code} price:{price} name:{name}".format(**product))

code:p1 price:2000 name:볼펜

In [41]:
print("id: {product_id}, name:{product_name}"\
      .format(product_id='a1',product_name='사탕'))

id: a1, name:사탕