In [11]:
import pandas as pd #pandas. 메서드로 사용 #as 별칭으로 줄이기가능

d1 = pd.DataFrame([['a1',10],['a2',20]], columns ={'name','age'})

In [12]:
print(d1)

  name  age
0   a1   10
1   a2   20

In [17]:
from pandas import DataFrame
d2 = DataFrame([['hong', 20],['park',10],['kia',15]],columns={'irum','age'})
print(d2)

    age  irum
0  hong    20
1  park    10
2   kia    15

# 리스트 내장  
## [표현식 for 아이템 in 시퀀스 객체 (if 조건식)]

In [31]:
arr=[ index +10 for index in range(1,10)]

In [32]:
print(arr)

[11, 12, 13, 14, 15, 16, 17, 18, 19]

In [33]:
arr1 = [i for i in arr if i>15]
print(arr1)

[16, 17, 18, 19]

In [34]:
data =[ index for index in range(10) if index%2 ==0]
print(data)

[0, 2, 4, 6, 8]

In [3]:
d1 = ['hong', 'kia', 'lee', 'park']
data2 = [ index for index in d1 if len(index)>=2]

In [4]:
print(data2)

['hong', 'kia', 'lee', 'park']

In [81]:
d2 = [
    {'name':'hong','age':10}
    ,{'name':'park','age':20}
    ,{'name':'kang','age':29}
    ,{'name':'hong','age':5}
    ,{'name':'jang','age':51}
]

result = [index['name'] for index in d2 if (index['age']//10) == 2]
print(result )

['park', 'kang']

In [14]:
data = ['hong', 'Kim1','Lee1','Hong2','park1','Park2','Kang1','kang2','HONG3']

#Q1)첫글자가 h로 시작하는 자료를 list에 넣어 출력하시오

#print(data.index('hong',0,2))
# dic = []
# for index in data:
#     for i in index:
#         if i in (i):
#             dic.append(index)
# print(dic)

# ========================================
#몰랐던 부분 Str의 item[0] 이라는 것을 활용하지 못함. upper 라는 메소드를 이용 못함
result =[item for item in data if item[0].upper()=='H']
print(result)

['hong', 'Hong2', 'HONG3']

In [16]:
#Q2)0~25 살 자료를 출력
data2 =[
    {'name':'hong1','age':20}
    ,{'name':'ha2','age':30}
    ,{'name':'Park1','age':29}
    ,{'name':'Hong2','age':5}
    ,{'name':'park2','age':23}
    ,{'name':'kim2','age':22}
    ,{'name':'kang2','age':51}
]

result2=[index for index in data2 if index['age']>=10 and index['age']<=25]
print(result2)

[{'name': 'hong1', 'age': 20}, {'name': 'park2', 'age': 23}, {'name': 'kim2', 'age': 22}]